tasks/4_fullApartment/cmake_install.cmake
tasks/4_fullApartment/Makefile
tasks/4_fullApartment/CMakeFiles
tasks/4_fullApartment/.qt/QtDeploySupport.cmake
tasks/4_fullApartment/CMakeFiles/cmake.check_cache
tasks/4_fullApartment/bin/multiroom
others/initializeComponents/output/bridge.err
others/initializeComponents/output/camera.err
others/initializeComponents/output/joy.err
others/initializeComponents/output/helios.err
others/initializeComponents/output/pearl.err
tasks/4_fullApartment/generated/CMakeFiles/multiroom_autogen_timestamp_deps.dir/build.make
tasks/4_fullApartment/personalREADME.md
tasks/4_fullApartment/generated/CMakeFiles/
tasks/4_fullApartment/generated/Makefile
tasks/4_fullApartment/mcp_server/
